*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.active
{
    color: blue;
    border-bottom: 2px solid blue;
}

header
{
    border-bottom: 1px solid black;
}



header ul
{
    list-style: none;
    display: flex;
    gap: 50px;

}

header ul li
{
    padding-bottom: 20px;
}