*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.active
{
    color: blue;
    border-bottom: 2px solid blue;
}

header
{
    border-bottom: 1px solid black;
    padding: 30px 0 0 50px;
}

header h1
{
    margin-bottom: 20px;
}



header ul
{
    list-style: none;
    display: flex;
    gap: 50px;

}

header ul li
{
    padding-bottom: 15px;
}

/* MAIN */
main
{
    width: 70%;
    margin: auto;
    margin-top: 50px;
}

main h2
{
    margin-bottom: 20px;
}

.ris
{
    padding: 20px 0;
}